/* General styling */
body {
    background: url(../images/bg-img.jpg) #222;
}
body .container {
    -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
}

/* Bootstrap overrides */
.well {
    border: 0;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}
.form .form-control {
    width: 100%;
    color: #bbb;
    border-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}
.form .form-control:focus {
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.1), 0 0 8px rgba(255, 255, 255, 0.3);
}

/* 
 * THUMBNAILS related styles 
 */
.gallery-thumbnails-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

/* Gallery thumbnails CONTROLS */
.pager {
    margin: 0;
}
.pager li {
    position: absolute;
    z-index: 99;
    top: 30px;
}
.pager li .control {
    color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 0;
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
    -webkit-border-radius: 40% / 20%;
       -moz-border-radius: 40% / 20%;
            border-radius: 40% / 20%;
}
.pager li .control:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0ad4e;
    opacity: 1;
}
.pager .disabled .control {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
    cursor: not-allowed;
}
.pager .disabled .control:hover, 
.pager .disabled .control:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
}
.pager .previous {
    left: 3px;
}
.pager .next {
    right: 3px;
}

/* Gallery thumbnails */
.thumbnails-list {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}
.thumbnails-list ul {
    margin: 0;
    height: 70px;
}
.thumbnails-list ul li {
    text-align: center;
    padding-left: 0;
    height: 100%;
}
.thumbnails-list ul li.loading {
    height: 70px;
}
.thumbnails-list ul li.loading img {
    border-color: transparent;
}
.thumbnails-list ul li img {
    max-height: 70px;
    max-width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}
.thumbnails-list ul li.selected img {
    border-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}

/* Preview wrapper */
.preview-image-wrapper {
    position: relative;
    padding: 20px;
}
.preview-image-wrapper .img-responsive {
    margin: 0 auto;
    cursor: pointer;
    max-height: 400px;
}
.preview-image-wrapper .preview-image {
    display: none;
}
.preview-animation {
    -webkit-transform-origin: 0% 50%;
    -webkit-animation: rotationLeft 0.8s linear;
}
@-webkit-keyframes rotationLeft {
    0%   {-webkit-transform: rotate3d(0, 1, 0, 0); opacity: 1;}
    50%  {-webkit-transform: translateX(-200px) translateZ(100px) rotate3d(0, 1, 0, -120deg); opacity: 0.5;}
    100% {-webkit-transform: translateX(-400px) translateZ(200px) rotate3d(0, 1, 0, -240deg); opacity: 0;}
}

/* Hidden wrapper used for images preloading */
.gallery-thumbnails-wrapper .hidden {
    visibility: hidden;
}

/* OVERLAY styles */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
}
.overlay-preview {
    height: 100%;
}
.overlay img {
    position: absolute;
    max-width: 100%;
    max-height: 100%; 
}

/* Overlay closing cross */
.overlay .overlay-close {
    color: #fff;
    outline: none;
    font-size: 50px;
    margin-right: 20px;
    z-index: 100;
}

/* Effects */
.container.overlay-open {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
}

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
            transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
}

.overlay-transition-left {
    -webkit-animation: goLeft 0.5s ease-in-out forwards;
}
@-webkit-keyframes goLeft {
    0%   {opacity: 1;}
    100% {-webkit-transform: rotateZ(-10deg) scale(1.5); opacity: 0;}
}

.overlay-transition-right {
    -webkit-animation: goRight 0.5s ease-in-out forwards;
}
@-webkit-keyframes goRight {
    0%   {opacity: 1;}
    100% {-webkit-transform: rotateZ(10deg) scale(1.5); opacity: 0;}
}
